@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <form id="reqTokenForm" method="post"></form>
    //ne se vizualizira no asp ше генерира жеритифицатион токен

    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<button onclick="Token()" class="btn btn-success">Take verif.Token</button>

<script>
    function Token() {
        let vt = '@Html.AntiForgeryToken()';
    }

</script>